.centerContent {
    display: flex;
    justify-content: center;
    align-content: center;
    height: stretch;
}

.selfCenter {
    align-self: center;
}

.standardWidth {
    width: 250px;
}

.spaceBetween {
    padding: 10px;
}